



.About__Me
  height: 100vh
  width: 100%
  background-color: black
  color: white
  .About__Me__Title
    font-family: "Odibee Sans", sans-serif
    font-size: 91px
    text-align: center
  .About__Me__Content__text
    font-family: "OdorMeanChey-Regular"
    font-size: 36px
  .About__Me__Content__image
    //width: 433px
    //height: 577px
  .About__Me__Content__Tag
      font-family: "OdorMeanChey-Regular"
      font-size: 36px

