

<div class="About__Me">

  <div class="About__Me__Title" [innerText]="'</About Me>'"></div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 ">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-7  "  style="margin-top: 50px">
            <div class="About__Me__Content__Tag " [innerText]="'<LA>'"></div>
            <br>
            <br>

                     <div class="About__Me__Content__text " style="margin-left: 50px">
                       I am Louzi Amine, and my expertise lies in<br>
                       full-stack development using Java/ Jee (Spring),<br>
                       Angular, and ReactJS.
                     </div>

            <div>
              <div>
<!--                <img [src]="linkedin" alt="linkedin" >-->
              </div>
              <div class="About__Me__Content__Tag " [innerText]="'</LA>'"></div>
            </div>

          </div>

          <div class="col-md-4" >


                      <img  class="About__Me__Content__image" [src]="Louzi__Amine" alt="Cv Louzi Amine" >

          </div>

        </div>





      </div>
      <div class="col-md-1" style="background-color: red ; height: 80vh">
        Column
      </div>
    </div>
  </div>


</div>
