



<div class="My-Projects">
  <div   appLetterReveal [letterReveal]="'</My Projects>'"  class="My-Projects__Title"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
              <div class="row">

                <div class="col-md-1"></div>
                <div class="col-md-4 My-Projects__Card " >

                  <div style="text-align: center;">
                    <img [src]="List1" alt="List1"  class="My-Projects__Card__Img"  >
                  </div>

                  <div>
                    <div class="My-Projects__Card__Title">Call center management system</div>
                    <div class="My-Projects__Card__flex">
                      <div class="My-Projects__Card__Contant">A software platform that is meant  to manage and monitor call center operations.</div>
                      <div class=""><p class="My-Projects__Card__View">View</p></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>

                <div class="col-md-1"></div>
                <div class="col-md-4 My-Projects__Card " >

                  <div style="text-align: center;">
                    <img [src]="List1" alt="List1"  class="My-Projects__Card__Img"  >
                  </div>

                  <div>
                    <div class="My-Projects__Card__Title">Call center management system</div>
                    <div class="My-Projects__Card__flex">
                      <div class="My-Projects__Card__Contant">A software platform that is meant  to manage and monitor call center operations.</div>
                      <div class=""><p class="My-Projects__Card__View">View</p></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>


              </div>
      </div>
      <div class="col-md-1" >
        <div class="My-Projects__menu_scroll ">
          <div class="My-Projects__menu_scroll__div__Left"></div>
          <div>
            <div class="My-Projects__menu_scroll__element2">
              <div class="My-Projects__menu_scroll__element2__A"></div>
              <div class="My-Projects__menu_scroll__element2__B"></div>
              <div class="My-Projects__menu_scroll__element2__C"></div>
            </div>
            <div class="My-Projects__menu_scroll__element1"></div>
            <div class="My-Projects__menu_scroll__element2">
              <div class="My-Projects__menu_scroll__element2__A"></div>
              <div class="My-Projects__menu_scroll__element2__B"></div>
              <div class="My-Projects__menu_scroll__element2__C"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
