/* You can add global styles to this file, and also import other style files */

/* In styles.css or your component-specific stylesheet */
@font-face
  font-family: 'GriffosSCapsFont'
  src: url('/assets/fonts/GriffosSCapsFont.ttf') format('truetype')
  font-family: 'GriffosFont'
  src: url('/assets/fonts/GriffosFont.ttf') format('truetype')
/* Add other font formats if necessary */


// Light Mode Variables
$primary-color-light: #007bff
$secondary-color-light: #6c757d
$background-color-light: #ffffff
$nav-background-color-light: #fdfdfd
$select-background-color-light:#000000
$select-color-light: #ffffff
$select-color-border-light: #ffffff
$nav-link-color-light: #ffffff

// Dark Mode Variables
$primary-color-dark: #17a2b8
$secondary-color-dark: #6c757d
$background-color-dark: #343a40
$nav-background-color-dark: #000000
$select-background-color-dark: #ffffff
$select-color-dark: #000000
$select-color-border-dark: #000000
$nav-link-color-dark: #000000


.light-mode
  // Light Mode Styles
  background-color: $background-color-light
  //color: $primary-color-light

  #nav
      background-color: $nav-background-color-light
      img
      background-color: $nav-background-color-light
      select
      background-color: $select-background-color-light
      color: $select-color-light
      border: 1px solid $select-color-border-light
      #nav__Link
        a
         color: $nav-link-color-light



.dark-mode
  // Dark Mode Styles
  background-color: $background-color-dark
  //color: $primary-color-dark
  #nav
     background-color: $nav-background-color-dark
     img
     background-color: $nav-background-color-dark
     select
     background-color: $select-background-color-dark
     color: $select-color-dark
     border: 1px solid $select-color-border-dark
     #nav__Link
       a
        color: $nav-link-color-dark




#nav__dark__light__mode
    background: none
    color: inherit
    border: none
    padding: 0
    font: inherit
    cursor: pointer
    outline: inherit

    img
      width: 28px

