/* You can add global styles to this file, and also import other style files */

/* In styles.css or your component-specific stylesheet */
@font-face
  font-family: 'GriffosSCapsFont'
  src: url('/assets/fonts/GriffosSCapsFont.ttf') format('truetype')
  font-family: 'GriffosFont'
  src: url('/assets/fonts/GriffosFont.ttf') format('truetype')
/* Add other font formats if necessary */


