


#Home__Page
  width: 100%
  height: 100vh
  background-size: cover
  background-repeat: no-repeat
  color: white
  .scroll__vertical
    height: 100vh
  .Home__Page__Boredr
    border-right: 1px solid #ffffff
  .Home__Page__Font
    font-family: "OdibeeSans-Regular"
    //font-size: 91px
    //font-weight: bold
  .Home__Page__Font__Tag
    font-family: "OdorMeanChey-Regular"
    font-size: 36px


  //  font-size: 20px
  //.kkkklll
  //  font-family: "OdibeeSansRegular"
  //  font-size: 16px


