



<div  class="container-fluid" id="Home__Page" [style.background-image]="'url(' + backgroundHomeImageUrl + ')'">
  <div class="row">
    <div class="col-md-1  scroll__vertical d-flex justify-content-center Home__Page__Boredr"   >
      <div class="Home__Page__Font__Tag " [innerText]="'</LA>'"></div>
      <div class="fixed-bottom  col-md-1  bottom__Lang__FrArEn">
        <div class="Home__Page__Font__Tag" [innerText]="'</Lang>'"></div>
         <div class="Home__Page__Font__Lang__FrArEn">Fr</div>
        <div class="Home__Page__Font__Lang__FrArEn">Ar</div>
      </div>
    </div>

    <div class="col-md-10  position-relative" >
        <div class="position-absolute top-50 end-0 translate-middle-y Full__Stack__Developers ">

            <div   appLetterReveal [letterReveal]="'Full Stack Developers'"  class="Home__Page__Font "></div>
<!--          <p [letterReveal]="'Hello, world!'"></p>-->
<!--          <p appLetterReveal [letterReveal]="'Hello, world!'"></p>-->
            <div class="Home__Page__Font__Tag d-flex justify-content-end  " [innerText]="'</Louzi Amine>'"></div>
            <div class="d-flex justify-content-end">
              <img [src]="cv" alt="Cv Louzi Amine">
            </div>
        </div>
    </div>

    <div class="col-md-1   Home__Page__Boredr__Left " >
          <div class="Home__Page__menu">
            <img [src]="menu" alt="Menu" >
          </div>

      <div class="Home__Page__menu_scroll ">
             <div class="Home__Page__menu_scroll__div__Left"></div>
             <div>
                     <div class="Home__Page__menu_scroll__element1"></div>
                     <div class="Home__Page__menu_scroll__element2">
                       <div class="Home__Page__menu_scroll__element2__A"></div>
                       <div class="Home__Page__menu_scroll__element2__B"></div>
                       <div class="Home__Page__menu_scroll__element2__C"></div>
                     </div>
             </div>
      </div>

    </div>
  </div>
</div>

