



<div  class="container-fluid" id="Home__Page" [style.background-image]="'url(' + backgroundHomeImageUrl + ')'">
  <div class="row">
    <div class="col-md-1 scroll__vertical d-flex justify-content-center Home__Page__Boredr"   style="background-color: rgba(102,51,153,0.23)">
      <div class="Home__Page__Font__Tag " [innerText]="'</LA>'"></div>
    </div>
    <div class="col-md-10" style="background-color: rgba(255,0,0,0.28)">
      <div class="Home__Page__Font">
        Full Stack Developers
      </div>



      <div class="Home__Page__Font__Tag " [innerText]="'</Louzi Amine>'"></div>


    </div>
    <div class="col-md-1 d-flex justify-content-center " style="background-color: rgba(0,255,255,0.24)">2</div>
  </div>
</div>

