//#HelloIm
//  text-align: center
//  font-weight: bolder
//  font-size: 32px
//  -webkit-text-stroke: 0.8px #1c2e35

#Home__Container
    //background-color: red
    //margin-top: -70px
    //place-items: center
    display: flex
    //flex-direction: row
    justify-content: center /* Horizontally center items */
    align-items: center /* Vertically center items */
    height: 90vh
    #Home__img__SoftwareEngineer
      width: 600px
    #Home__DEVELOPER , #Home__FULLSTACK , #Home__HelloIm
      position: absolute
    #Home__DEVELOPER
      font-weight: bolder
      font-size: 100px
      -webkit-text-stroke: 0.8px black
      margin-top: 390px
    #Home__FULLSTACK
      color: white
      font-weight: bolder
      font-size: 100px
      -webkit-text-stroke: 0.8px #1c2e35
      z-index: -1
      margin-top: -265px
    #Home__HelloIm
      font-weight: bolder
      font-size: 32px
      -webkit-text-stroke: 0.8px #1c2e35
      //top: 0px
      margin-top: -380px



$Home__primary-color-light: #1c2e35

.light-mode
  #Home__DEVELOPER , #HelloIm
    color: $Home__primary-color-light


$Home__primary-color-dark: #84c592
.dark-mode
    #Home__DEVELOPER , #HelloIm
      color: $Home__primary-color-dark



